nav {
    width:100%;
    background-color: white;
    margin-bottom: 3rem;
    box-shadow: $box-shadow;

    ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        text-align: right;
    }

    li {
        display: inline-block;
    }

    a {
        padding: 0 1rem;
        height: 54px;
        line-height: 54px;
        display: inline-block;
    }
}